@model EditUserFlightSearchAndFlightViewModel
@{
    ViewData["Title"] = "Flights";
    TempData["button"] = "Modify Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div>
        <partial name="_FlightSearchForm" />
    </div>
</div>

