@model FlightViewModel
@{
    ViewData["Title"] = "UpdateFlight";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<form method="post">
    <div class="border mt-3 p-3">
        <input asp-for="Flight_Id" hidden/>
        <div class="row">
            <h2>Update Flight</h2>
            <hr />
        </div>
        <div>
            <label asp-for="Flight_Name" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Flight_Name" class="form-control mt-1" />
            <span asp-validation-for="Flight_Name" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Date" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Date" class="form-control mt-1" />
            <span asp-validation-for="Departure_Date" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Date" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Date" class="form-control mt-1" />
            <span asp-validation-for="Arrival_Date" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Place" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Place" class="form-control mt-1" />
            <span asp-validation-for="Departure_Place" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Place" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Place" class="form-control mt-1" />
            <span asp-validation-for="Arrival_Place" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Departure_Time" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Departure_Time" class="form-control mt-1" />
            <span asp-validation-for="Departure_Time" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Arrival_Time" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Arrival_Time" class="form-control mt-1" />
            <span asp-validation-for="Arrival_Time" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Total_Seats" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Total_Seats" class="form-control mt-1" />
            <span asp-validation-for="Total_Seats" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Available_Seats" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Available_Seats" class="form-control mt-1" />
            <span asp-validation-for="Available_Seats" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Flight_Status" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Flight_Status" class="form-control mt-1" />
            <span asp-validation-for="Flight_Status" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Flight_Type" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Flight_Type" class="form-control mt-1" />
            <span asp-validation-for="Flight_Type" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Aircraft_Model" class="text-secondary" style="font-size:20px"></label>
            <input asp-for="Aircraft_Model" class="form-control mt-1" />
            <span asp-validation-for="Aircraft_Model" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary" style="width:120px">Update</button>
            <a asp-controller="Flight" asp-action="Index" class="btn btn-secondary ms-1">Back to List</a>
        </div>
    </div>
</form>


@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

