<div class="list-group">
    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">User</a>
<br />
    <a asp-area="Admin" asp-controller="Passenger" asp-action="Index" class="list-group-item list-group-item-action list-group-item-secondary">Passenger</a>
<br />
    <a asp-area="Admin" asp-controller="Flight" asp-action="Index" class="list-group-item list-group-item-action list-group-item-success">Flight</a>
<br />
    <a asp-area="Admin" asp-controller="Offer" asp-action="Index" class="list-group-item list-group-item-action list-group-item-warning">Offer</a>
<br />
    <a asp-area="Admin" asp-controller="Hotel" asp-action="Index" class="list-group-item list-group-item-action list-group-item-info">Hotel</a>
<br />
    <a asp-area="Admin" asp-controller="Aircraft" asp-action="Index" class="list-group-item list-group-item-action list-group-item-danger">Aircraft</a>
<br />
    <a asp-area="Admin" asp-controller="PrivateService" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark">Private Service</a>
<br />
    <a asp-area="Admin" asp-controller="Transport" asp-action="Index" class="list-group-item list-group-item-action list-group-item-success">Transport</a>
<br />
</div>